footer{
	padding-top: 20px;
	background: none;
	border-top: 1px solid #eee;

	p,a{
		color:#E2E2E2;
		font-size: 12px;
	}
	.copyright{
		color:#727272;
		font-size: 11px;
		font-weight: 500;
		margin-right:5px;
	}
}