
	#main_nav{
		float: right;
		width: 100%;
		ul{
			float: right;
			li{
				float: left;
			}

		}
		
	}
.nav-collapse{
	form{
		width: 100%;
		.search-query,input,.btn{
			float: right;
		}	

		.btn{
			margin-right:8px;
		}
		.search-query{
			width:30%; margin-left:8px;
		}
		select{
			display: none;
		}
	}
}