/*===[FONT-FACE]===*/

@font-face {
    font-family: 'Conv_NeueHaasGrotDisp-65Medium';
    src: url('../fonts/NeueHaasGrotDisp-65Medium.eot');
    src: local('☺'), url('../fonts/NeueHaasGrotDisp-65Medium.woff') format('woff'),
        url('../fonts/NeueHaasGrotDisp-65Medium.ttf') format('truetype'),
        url('../fonts/NeueHaasGrotDisp-65Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_NeueHaasGrotDisp-75Bold';
    src: url('../fonts/NeueHaasGrotDisp-75Bold.eot');
    src: local('☺'), url('../fonts/NeueHaasGrotDisp-75Bold.woff') format('woff'),
        url('../fonts/NeueHaasGrotDisp-75Bold.ttf') format('truetype'),
        url('../fonts/NeueHaasGrotDisp-75Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droidserif-regular-webfont';
    src: url('../fonts/droidserif-regular-webfont.eot');
    src: url('../fonts/droidserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidserif-regular-webfont.woff') format('woff'),
         url('../fonts/droidserif-regular-webfont.ttf') format('truetype'),
         url('../fonts/droidserif-regular-webfont.svg#droidserif-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'droidserif-bold-webfont';
    src: url('../fonts/droidserif-bold-webfont.eot');
    src: url('../fonts/droidserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidserif-bold-webfont.woff') format('woff'),
         url('../fonts/droidserif-bold-webfont.ttf') format('truetype'),
         url('../fonts/droidserif-bold-webfontsvg#sdroidserif-bold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}	

@font-face {
    font-family: 'HelveticaNeueLTCom35Thin';
    src: url('../fonts/helveticaneueltcom-th.eot');
    src: url('../fonts/helveticaneueltcom-th.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltcom-th.woff') format('woff'),
         url('../fonts/helveticaneueltcom-th.ttf') format('truetype'),
         url('../fonts/helveticaneueltcom-th.svg#HelveticaNeueLTCom35Thin') format('svg');
}

//========//
body{
    color:#8E9093;
   
}
a{
    color: #EBEBEB;
        &:hover{
            color:#DB4E4E;
            -webkit-transition: background 2s;
            -moz-transition: background 2s;
            -o-transition: background 2s;
            transition: background 2s;
        }
}
ul{
    li{
        list-style: none;
    }
}

p{  
    font:400 14px/1.6 "Open Sans", sans-serif;
    font-size: 12px;
    color: #777;
}
p{
    margin:0 0 1.666666667em 0;
}

h1,h2,h3,h4,h5{
    color:#000;
}

#headline{
    margin:40px 0 80px 0;
    h1{
        font-family: 'Conv_NeueHaasGrotDisp-75Bold',Arial, sans-serif;
        font-weight: 400;
        font-size: 6rem;
        line-height: 6rem;
    }
}

.lead{
    color:#000;
    font-weight: 400;
}

#pg-title{
    font-size: 38px;
    line-height: 38px;
    margin-top: 40px;
    margin-bottom: 100px;
}

#project-title{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 80px;
}

